/Aloitelaatikko/dist/
/WebApplication1/nbproject/private/
/Kuntosuorituksia/nbproject/private/
/Kuntosuorituksiaa/nbproject/private/
/Kuntosuorituksiaa/build/
/looppipooppi/nbproject/private/
/looppipooppi/build/